@model IEnumerable<ePlatform.Api.eBelge.Invoice.Models.OutboxInvoiceGetModel>

@{
    ViewBag.Title = "Invoices";
}

<h2>Invoices</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.InvoiceNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TargetVknTckn)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.InvoiceNumber)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TotalAmount)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TargetVknTckn)
    </td>
</tr>
}

</table>
